@model IEnumerable<Menu>

<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
    @foreach(var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.Positions)) {
        var PID = menu.MenuId;
        var Smenu = Model.Where(p => p.ParentId == PID).OrderBy(o => o.Positions).ToList();

        if(Smenu.Count == 0) {
            <li class="nav-item active"><a class="nav-link" href="index.html">@menu.Title</a></li>
        } else {
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">@menu.Title</a>
                <ul class="dropdown-menu">
                    @foreach(var smn in Smenu) {

                        <li class="nav-item"><a class="nav-link" href="category.html">@smn.Title</a></li>
                        
                    }
                    @* <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                    <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                    <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li> *@
                </ul>
            </li>

        }
    }
   @*  <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
    <li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Shop</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
            <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
            <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
            <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
            <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
        </ul>
    </li>
    <li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Blog</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item submenu dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Pages</a>
        <ul class="dropdown-menu">
            <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>
        </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> *@
</ul>
